$white:  #ffffff;

// DARK COLORS --------------------------------
$orange-dark: #ff9c00;
$purple-dark: #c06db4;

// LIGHT COLORS --------------------------------
$blue-light:  #b3ccf5;
$purple-light:  #d2b3f5;
$pink-light:  #f5b3e0;
$red-light:  #f5b3b3;
$orange-light:  #f2b472;
$yellow-light:  #f5eab3;
$green-light:  #d2f5b3;
