@import './assets/scss/base';

@font-face {
  font-family: 'RubikOne';
  src: url('./fonts/RubikOne-Regular.ttf');
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}
